{{ product_name }} has been updated

Something you own was revised. You have full access to the new version at no
extra cost.
{% if summary %}
{{ summary }}
{% endif %}
See what's new: {{ primary_link }}

You're getting this because product-update emails are on for your account. Turn
them off any time in Account > Notifications.
