Your account details changed

We're letting you know that your account details were recently updated.

Action: {{ action }}
{% if details %}Details: {{ details }}
{% endif %}
If you didn't make this change, please contact us immediately so we can secure your account.

Thanks,
The Practicable team
